<section class="pre-footer">
    <div class="container">
        <div class="row py-2">

            <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                <h5 class="pre-footer-heading">Portal IntegrAI Mil Dias</h5>
                <ul class="list-unstyled mb-0 pre-footer-list">
            <li class="mb-2">
                <a href="https://sigaa.ufma.br/sigaa/public/programa/apresentacao_stricto.jsf?lc=pt_BR&idPrograma=959" target="_blank" rel="noopener noreferrer">
                    Programa de Pós-Graduação em Saúde Coletiva
                </a>
            </li>

            <li class="mb-2">
                <a href="https://sigaa.ufma.br/sigaa/public/programa/apresentacao_stricto.jsf?lc=pt_BR&idPrograma=954" target="_blank" rel="noopener noreferrer">
                    Programa de Pós-Graduação em Odontologia - UFMA
                </a>
            </li>

                <li class="mb-2 d-flex">
                        
                        <span>E-mail: integrai@ufma.br</span>
                    </li>
                  </ul>
            </div>



  

            <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                <h5 class="pre-footer-heading">Parcerias</h5>
                <ul class="list-unstyled mb-0 pre-footer-list">
                    
                        <li class="mb-2">
                        <a href="https://www.darti.ufma.br/" target="_blank" rel="noopener noreferrer">
                            DARTi - Laboratório de Análise de Dados e Inteligência Artificial
                        </a>
                    </li>

                    <li class="mb-2">
                        <a href="https://inova.ifma.edu.br/" target="_blank" rel="noopener noreferrer">
                            Fábricas de Inovação do Instituto Federal do Maranhão (IFMA)
                        </a>
                    </li>
                    

                    <li class="mb-2">
                        <a href="https://lambdageo.github.io/" target="_blank" rel="noopener noreferrer">
                            LambdaGEO - Grupo de Pesquisa em Computação e Geotecnologias
                        </a>
                    </li>

                </ul>
            </div>

        </div>
        
    </div>
</section>

<footer>
    <p class="m-0">&copy; {% now "Y" %} IntegrAI - PPGSC/UFMA e PPGO/UFMA. Todos os direitos reservados.</p>
</footer>