{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="basic-container mt-4 mb-4">

    <section class="form-login" style="box-shadow: 0 4px 12px rgba(0,0,0,0.1); border-radius: 12px; padding: 2rem;">
        <p class="login-slogan">Verifique seu email</p>

        <p>Se um usuário com esse email existir, você receberá um link para redefinir a senha.</p>

        <div class="alert alert-warning mt-3" style="border-radius: .6rem;">
        <strong>Importante:</strong> Se você não encontrar o e-mail na caixa de entrada, verifique a 
        <strong>caixa de spam</strong> ou <strong>lixo eletrônico</strong>.
        </div>

        <p class="text-center mt-3">
            <a href="{% url 'login' %}">Voltar para login</a>
        </p>
    </section>

</div>

{% endblock %}
